
.idea
logs

app/client/api/log/*
app/xPertBusiness/api/log/*
app/xPertBusiness/rpc/log/*

.DS_Store
/*/.DS_Store
update
merge
*.exe
log/
*.log

app/userCenter/rpc/log/
app/order/rpc/log/


app/market_aggregate/log/

app/admin/api/go_build_bcts_app_admin_cmd_api


test_client
app/front/test_rpc/test_rpc
test.txt
common/datastruct/test_datastruct/test_datastruct